.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	background-color: black;
}
.footer{
    
	background-color:rgb(231, 205, 205);
    padding: 10px 0px  150px 0;
    position: relative;
    top: 270px;
    margin-top: -650px;

}
.footer-col{
   width: 25%;
   padding: 0 15px;
   position: relative;
   top: 100px;
}
.footer-col h4{
	font-size: 18px;
	color:black;
	text-transform: capitalize;
	margin-bottom: 35px;
    position: absolute ;
    top: -50px;
    
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: black;
    position: relative;
    top: 0px;
    left:-10px;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:black;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:whitesmoke;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
    position: relative;
    top: -5px;
    left: -10px;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: white;
	background-color: black;
}

.img{
	position: absolute;
	top: -7vh;
	left:-4vh;
	}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
