*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}
body{

    background-color: black;
    overflow-x: hidden ;
    overflow-y: hidden;
    
}
.img{
    position: absolute;
    top: -7vh;
    left:-4vh;
    }

.title1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    -webkit-text-stroke:1px #fff;
    font-size: 120px;
    color: transparent;
    background-image: linear-gradient(#fff, #fff); 
    background-repeat: no-repeat;
    -webkit-background-clip: text; 
     background-position: -1300px 0;
    animation: backcolor1 5s linear infinite ;
}

@keyframes backcolor1{
   100%{
    background-position: 0 0;
   } 
}

.title2{
    position: absolute;
    top: 35vh;
    left: 150vh;
    transform: translate(-50% ,-50%);
    -webkit-text-stroke:1px #fff;
    font-size: 120px;
    color: transparent;
    background-image: linear-gradient(#fff, #fff); 
    background-repeat: no-repeat;
    -webkit-background-clip: text; 
     background-position: -1300px 0;
    animation: backcolor2 5s linear infinite ;
}

@keyframes backcolor2{
    100%{
     background-position: 0 0;
    } 
 }


.title3{
    position: absolute;
    top: 60vh;
    left: 60vh;
    transform: translate(-50% ,-50%);
    -webkit-text-stroke:1px #fff;
    font-size: 120px;
    color: transparent;
    background-image: linear-gradient(#fff, #fff); 
    background-repeat: no-repeat;
    -webkit-background-clip: text; 
     background-position: -1300px 0;
    animation: backcolor3 5s linear infinite ;
}

@keyframes backcolor3{
    100%{
     background-position: 0 0;
    } 
 }


.photos{
    position: relative;
    top: -100vh;
     opacity: 0.9;
    z-index: -1; 
}
.footer{
   
     padding-top: 10px;
     text-align: center;
     height: 30px;
     width: 1263px;
     font-family: "open sans";
     color:black ;
     background-color: white;
 }

 .container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	background-color: black;
}
.footer{
    
	background-color:rgb(231, 226, 226);
    padding: 10px 0px 800px 0;
    position: relative;
    top: 70px;
    margin-top: -650px;

}
.footer-col{
   width: 50%;
   padding: 0 15px;
    position: relative;
   top: 200px; 
}
.footer-col h4{
	font-size: 18px;
	color:black;
	text-transform: capitalize;
	margin-bottom: 35px;
    position: absolute ;
    top: -120px;
    left: -30px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:45vh;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: black;
    position: relative;
    top: -15vh;
    left:30vh;
	display: block;
    text-align:start;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:black;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:whitesmoke;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
    position: relative;
    top: -5px;
    left: 40px;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: white;
	background-color: black;
}

.social{
    position: relative;
    top: 100px;
}
.shop{
    position: relative;
    top: 100px;
}
.shop1{
    position: relative;
    top: 90px;
}